
body.dark .bg-main {
  background-image: url(./imagens/bg-main-dark.jpg);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--colorTextDark);
}

body.dark .logo a {
  color: var(--colorTextDark);
}

body.dark .menu-links { 
  color: var(--clearTextDark);
}

body.dark .acesso {
  color: var(--colorTextDark);
}

body.dark .acesso:hover {
  background-color: var(--purple);
  color: var(--colorTextDark);
  opacity: .8;
}

body.dark .menu-links:hover {
  box-shadow: 0 -3px 0px var(--purple) inset, 500px 0 0 transparent inset;
  color: var(--colorTextDark);
}

body.dark .titles {
  color: var(--colorTextDark);
}

body.dark #sct-dsc {
  color: var(--clearTextDark);
}

body.dark .h-wrap h1 {
  color: var(--colorTextDark);
}

body.dark #sct-2 h2 {
  color: var(--colorTextDark);
}

body.dark #sct-2 h3 {
  color: var(--colorTextDark);
}

body.dark #duvidas .duvidas-img-light {
  display: none;
}

body.dark #sct-5 {
  background-color: var(--bg-darker);
}

body.dark #sct-5 p {
  color: var(--colorTextDark);
}

body.dark summary {
  color: var(--colorTextDark);
}

body.dark #sct-6 h3 {
  color: var(--colorTextDark);
}

body.dark #sct-6 a {
  color: var(--colorTextDark);
}

body.dark #sct-6 a:hover { color: var(--colorTextDark); }

body.dark #sct-6 a {
  color: var(--clearTextDark);
}

body.dark #footer-icons p {
  color: var(--clearTextDark);
}

body.dark .border-bottom {
  border-bottom: var(--border-bottom-dark);
}

body.dark .text-shadow { text-shadow: --texto-shadow-dark; }

body.dark .text-color {
  color: var(--clearTextDark);
}

body.dark .functions h3, h2 {
  color: var(--colorTextDark);
}

body.dark .functions p {
  color: var(--clearTextDark);
}

body.dark h2 {
  color: var(--colorTextDark);
}

body.dark h3 {
  color: var(--colorTextDark);
}

body.dark .header {
  background-color: transparent;
}

body.dark .card {
  background-color: var(--cards-dark);
  box-shadow: 3px 3px 10px rgb(37, 36, 36);
}

body.dark .card p {
  color: var(--colorTextDark);
}

body.dark .card a:hover {
  color: var(--clearText);
}

body.dark #cards h2 {
  color: var(--colorTextDark);
}

body.dark .buttons {
  color: var(--colorTextDark);
  border-color: var(--purple);
  background-color: var(--purple);
}

body.dark .buttons:hover {
  color: var(--colorTextDark);
  background-color: var(--bg-dark);
}


body.dark .logo a:hover {
  color: var(--colorTextDark);
  /* background-color: var(--purple); */
}

body.dark .hamburguer, body.dark .hamburguer:before, body.dark .hamburguer:after {
  background: var(--clearTextDark);
}

body.dark #sct-1-sobre {
  background-color: var(--bg-darker);
  color: var(--clearTextDark);
}
body.dark #sct-4 h2 {
  color: var(--clearTextDark);
}
body.dark .card a {
  color: var(--colorTextDark);
  border-color: var(--purple);
}

body.dark .card p {
  color: var(--clearTextDark);
}

body.dark .card a:hover {
  color: var(--colorTextDark);
  background-color: var(--purple);
}

body.dark .artigos-cards {
  padding: 40px;
  line-height: 1.6;
  box-shadow: 3px 3px 4px rgba(22, 22, 31, 0.402);
  border-radius: 10px;
  background-color: var(--cards-dark);
  transition: 0.3s;
}

body.dark .artigos-cards:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(28, 23, 33, 0.915);
}

body.dark .artigos-cards h3 {
  border-bottom: solid 2px var(--purple);
}

body.dark .artigos-cards p{
  padding: 1.2rem 0;
  color: var(--clearTextDark);
}

body.dark .search-input {
  background-color: var(--cards-dark);border-color: rgb(21, 20, 20);
}

body.dark .search-header input::placeholder {
  color: var(--clearTextDark);
  opacity: 0.5;
  font-family: 'Maven Pro', sans-serif;
}

body.dark .search-header input:focus {
  border-color: rgb(21, 20, 20);
  box-shadow: 8px 8px 10px rgba(12, 10, 10, 0.402);
  outline: none;
}

body.dark .search-header a:hover {
  background-color: rgb(52, 4, 155);
}

body.dark .search-header input {
  color: rgb(177, 171, 171);
  font-family: 'Maven Pro', sans-serif;
}

body.dark .bg-support {
  background-color: rgb(25, 20, 36);
}

body.dark .perguntas summary {
  background-color: var(--cards-dark);
  box-shadow: 3px 3px 4px rgba(22, 22, 31, 0.402);
}

body.dark .perguntas summary:hover {
  background-color: var(--cards-dark);
  box-shadow: 7px 7px 7px rgba(28, 23, 33, 0.915);
}

body.dark .h1 {
  color: var(--colorTextDark);
}

body.dark .perguntas p {
  color: var(--clearTextDark);
}

body.dark .header.scrolled {
  background-color: var(--bg-dark);
  border: none;
}