@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* início dos estilos */
:root {
    --purple: rgb(118, 72, 233);
    --clear-purple: rgb(209, 198, 235);
  }

.line-height { line-height: 1.6; }

.text-align { text-align: center; }

.text-shadow { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.border-bottom { border-bottom: 1px solid rgb(230, 224, 239); }

.bg-primary { background-image: radial-gradient(circle at 50% -20.71%, #ff73ff 0, #c162ff 25%, #7d4ef4 50%, #3339c7 75%, #00279d 100%); }

li { list-style: none; }

/* display do body */

.container-fluid { width: 100%; }

.container {
    max-width: 987px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/**/

/* botões de registro */
.buttons {
    text-decoration: none;
    font-size: 17px;
    color: var(--purple);
    background-color: white;
    padding: 20px 100px;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
    transition: .3s ease-in-out;
}

.buttons:hover {
    background: transparent;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/**/
/* final dos estilos*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}

/* início do header */
.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    transition: 0.3s;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.menu strong, .logo a {
    font-size: 16px;
}

.logo-img {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: var(--purple);
}

.logo-img img {
    max-width: 40px;
    padding-right: 5px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style: none;
}

.hamburguer {
    position: relative;
    width: 30px;
    height: 4px;
    background: var(--purple);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburguer:before,
.hamburguer:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--purple);
    border-radius: 10px;
    transition: 0.3s;
}

.hamburguer:before {
    top: -10px;
    width: 30px;
}

.hamburguer:after {
    top: 10px;
    width: 30px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburguer, .toggle-menu {
    display: none;
}

.navigation input:checked ~ .hamburguer {
    background: transparent;
}

.navigation input:checked ~ .hamburguer:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburguer:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}



.titles {
    padding: 200px 0 120px 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}

.titles h1 {
    font-size: 2.1rem;
    padding-bottom: 20px;
}

.titles p { font-size: 20px; }

.registro { padding-bottom: 70px; }

#sct-3 {
    display: flex;
    flex-direction: column;
}

.functions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px 0 30px 0;
}

.functions img {
    max-width: 50px;
    padding-bottom: 20px;
}

.functions div, .functions-2 { padding: 40px; }

.functions h3, h2 { color: var(--purple); }

.functions-2 h2 {
    max-width: 500px;
    margin:auto;
    padding: 20px 0 40px 0;
}

#sct-4 h2 {
    font-size: 1.2rem;
    max-width: 90%;
    color: var(--purple);
    font-weight: bold;
    padding-bottom: 30px;
}

.card-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-bottom: 15px;
}

#sct-3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.card h3 {
    font-size: 1.2rem;
    color: var(--purple);
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    padding: 3px 12px;
    border-radius: 20px;
}

.card a:hover {
    transition: .3s ease-in-out;
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
}

.duvidas-img { max-width: 550px; }

.duvidas-contato img { max-width: 50px; }

.duvidas-contato {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sct-5 { background: rgb(125, 78, 244); }


#sct-5 p {
    color: white;
    font-size: 1.3rem;
}

#sct-5 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 20px 0;
}

/* do footer */

#social-media li { display: inline-block; }

#social-media {
    margin-left: 10px;
}

#sct-6 h3 { padding-bottom: 20px; }

#sct-6 a {
    text-decoration: none; 
    color: var(--purple);
}

#sct-6 a:hover { opacity: 0.8; }


#social-media{ padding: 20px 0 20px 0; }

.sct-6-container div{
    margin: .5em 4em 1.5em 1em;
}

.margin-footer { margin: 10px; }

.logo-footer-container img {
    max-width: 80px;
    margin-right: .5em;
}

.logo-footer-container div {
    padding-left: 8px;
}

/**/

.badge {
    color: white;
    padding: 3px 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.badge-yellow {
    background-color: rgb(255, 204, 0);
    color: black;
}

.btn-whatsapp {
    background-color: rgb(37, 211, 102);
    border: 4px solid rgb(37, 211, 102);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: regular;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.btn-whatsapp:hover {
    background-color: rgb(65, 225, 121);
    color: rgb(240, 247, 243);
    border: 4px solid rgb(65, 225, 121);
}

/* início da página sobre advable */

#sct-1-sobre {
    background-color: var(--purple);
    color: white;
    display: flex;
    font-size: 20px;
}

/**/

/* início da versão mobile */
@media (max-width: 425px) {
    body {
        font-size: small;
    }
    
    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sct-1 {
        height: 100vh;
        width: 100%;
    }

    #sct-4 img {
        max-width: 300px;
    }

    .duvidas-contato {
        padding-bottom: 50px;
    }

    .card-content p {
        padding-bottom: 20px; 
    }

   footer .container {
    display: flex;
    justify-content: center;
   }

   .logo-footer img{ max-width: 65px; }

   .logo-footer-container{
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;
   }

   .logo-footer p {
    font-size: smaller;
    padding-left: 10px;
   }

   #social-media img {
    max-width: 22px;
   }

   #sct-6 div {
    margin-bottom: 20px;
   }
}

/**/

@media (max-width: 768px) {

    .hamburguer, .toggle-menu {
        display: block;
    }

    .header{
        padding: 15px 20px;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -200px;
        background: white;
        width: 200px;
        height: 100%;
        padding-top: 65px;
    }

    .menu a {
        text-decoration: none;
    }

    .menu li, .menu strong{
        width: 100%;
        font-size: large;
        padding-bottom: 30px;
    }

    .menu li a {
        color: var(--purple);
        padding-left: 30px;
    }

    .menu li a:hover {
        color: var(--purple);
        opacity: 0.8;
    }

    /* functions 1*/
    .functions {
        padding: 20px 0 30px 0;
     }

    /* cards */

    .card-columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card p {
        margin-bottom: 20px;
    }

    /**/

    .functions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .duvidas-img { max-width: 400px; }

    .duvidas-contato {
        margin-right: 50px;
    }

    #social-media img {
        max-width: 22px;
    }

    footer .container {
        display: flex;
    }

    .logo-footer img{ max-width: 65px; }

    .logo-footer p {
        font-size: smaller;
    }

    .logo-footer {
        margin: 2rem 0 2rem 1rem; 
    }

    .logo-footer-container {
        display: flex;
        align-items: center;
    }

    .sct-6-container {
        display: flex;
        justify-content: space-between;
    }

    .navigation input:checked ~ .menu {
        right: 0;
        box-shadow: 7px 0 25px rgb(152, 151, 153);
    }

}

@media (min-width: 768px) {

    .menu li a {
        color: var(--purple);
        text-decoration: none;
        display: block;
        padding: 15px 20px;
        line-height: 1;
        transition: 0.3s;
    }

    .menu li a:hover {
        box-shadow: 0 -3px 0px var(--purple) inset, 500px 0 0 rgb(251, 249, 255) inset;
    }

    .titles {
        padding: 200px 0 160px 0;
    }

    .card p {
        margin-bottom: 20px;
    }

    /* do footer */

    .logo-footer-container {
        display: flex;
        align-items: center;
        font-size: small;
        margin: 3rem 0 2rem 1rem;
    }

    footer img {
        max-width: 15px;
    }


    
}